<footer>
      <a href="https://twitter.com/styd330" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/otasihsoy" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
      <a href="https://github.com/satoshi99" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
      <p class="copyright">&copy; 2020 Satoshi Yoshida all rights reserved.</p>
      <a href="/" class="privacy-policy" target="_blank" rel="noopener noreferrer">▶︎ Privacy policy</a>
</footer>