
{% for post in object_list %}
{% if user.is_authenticated or post.is_public %}
    <div class="col-md-6 card-container">
        <a href="{% url 'blog:post_detail' post.id %}">
            <div class="post-card row no-gutters rounded overflow-hidden flex-md-row mb-4">
                <div class="col p-4 d-flex flex-column position-static">
                    <p class="mb-1">{{ post.published_at|date }}</p>
                    <h3 class="mb-0">{{ post.title }}</h3>{% if not post.is_public %}[Draft]{% endif %}
                    <br>
                    <p class="card-text mb-auto">{{ post.description }}</p>
                </div>
                <br>
                <div class="col-auto d-none d-lg-block">
                    {% if post.image %}
                    <img class="bd-placeholder-img" src="{{ post.image.url }}" alt="{{ post.title }}" width="100%" height="200px">
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
{% endif %}
{% empty %}
<div>There are no posts.</div>
{% endfor %}
