
<div class="taglist">
  <h4 class="font-italic">Tags</h4>
    {% for tag in tags|dictsortreversed:"num_posts"|slice:":5" %}
      <a href="{% url 'blog:tag_post' tag.slug %}" class="badge badge-pill">
        {{ tag.name }}
      </a>
    {% endfor %}
</div>

 <!-- <div class="archives">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div> -->
