{% extends "base.html" %}

{% block title %}About | {{ block.super }}{% endblock %}
{% block description %}ブログ管理人について{% endblock %}

{% block content %}
  <div class="about-container">
    <h1>About me<br>Satoshi Yoshida</h1>
    <div class="about-content">
        <h4>ナノの世界に魅せられて</h4>
        <p>ナノの世界で起こる様々な現象や未知の可能性に魅了され、大学院ではプラズマから炭素系新素材を合成するナノテクノロジーについて研究していました。
        <br>現在はIT分野へ軸足を置いてソフトウェアを勉強しているところですが、これから材料開発など
            ナノテクノロジーを駆使した科学技術は、AIと融合してさらに強力になると考えています。<br>
            特に興味があるのが量子コンピュータや量子科学で、趣味の範囲ですが楽しく情報収集しています。
            <br>そんなわけで量子をテーマに、最新情報や基礎知識、日々考えていることなどを発信していけたらと思います。
            </p>
    </div>
  </div>

{% endblock %}
