{% extends "base.html" %}

{% block title %}Blog | {{ block.super }}{% endblock %}
{% block description %}AIや量子コンピューティングについてのITブログです。{% endblock %}

{% block content %}

    <h1 class="title">Blog</h1>
<div class="top-post">
        <h2 class="font-italic">{{ latest.title }}</h2>
        <p class="lead my-3">{{ latest.description }}</p>
        <p class="lead mb-0"><a href="{% url 'blog:post_detail' latest.id %}" class="font-weight-bold">Continue reading...</a></p>
</div>
    <img class="top-image" src="/media/post_images/771622.png" width="600" height="400" alt="Pipenv | Python">

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

<div class="postlist-container">
    <div class="row">
        <main class="col-md-9">
            {% include "blog/snippets/main_post_list.html" %}
            <div class="pg">
                {% include "blog/snippets/pagination.html" %}
            </div>
        </main>
        <aside class="col-md-3">
            {% include "blog/snippets/sidebar.html" %}
        </aside>
    </div>

</div>


{% endblock %}
